* {
  box-sizing: border-box;
}

html {
  --primary-color: grey;
  --secondary-primary-color: lightgrey;
  --bg-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: -0.2rem;
}

.gameboard-grid {
  padding: 1rem;
  font-size: 8rem;
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  grid-template-rows: repeat(3, 8rem);
  grid-gap: 0.4rem;
}

.board-item {
  color: var(--primary-color);
  background-color: var(--secondary-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.board-item:hover {
  background-color: rgb(192, 192, 192);
}

/*
.--hidden {
  color: var(--secondary-primary-color);
}

.--hidden:hover {
  color: var(--primary-color);
  background-color: var(--primary-color);
}
*/

.player-select {
  border: 0.5rem solid green;
  color: var(--bg-color);
  border-radius: 2rem 0;
  transition: border-radius linear 60ms;
}
.computer-select {
  border: 0.5rem solid red;
  border-radius: 0 2rem;
  color: var(--bg-color);
  transition: border-radius linear 60ms;
}

.turn-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  user-select: none;
}

input {
  padding: 1.5rem;
}
